<div class="row">
    <div class="col-xs-12">
        <div class="jumbotron">
            HEADER
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-3">
        <div class="panel panel-default">
          <div class="panel-body">
           <p>Profile</p>
          </div>
        </div>
    </div>
    <div class="col-xs-6">
        <div class="panel panel-default">
          <div class="panel-body">
           <p>Tweet</p>
          </div>
        </div>
    </div> 
    <div class="col-xs-3">
        <div class="panel panel-default">
          <div class="panel-body">
            <p>Who to follow</p>
          </div>
        </div>
    </div>
</div>

<!--begin row 2-->
<div class="row">
     <div class="col-xs-3 col-xs-offset-9">
        <div class="panel panel-default">
          <div class="panel-body">
            <p>Trend</p>
          </div>
        </div>
    </div>
</div>

